<template id="commandButtonTemplate">
  <div id="command_{name}">
    <h3>{name}{isThis}</h3>
    <button id="command_{id}_ButtonA">View 1</button>
    <button id="command_{id}_ButtonB">View 2</button>
    <button id="command_{id}_ButtonC">View 3</button>
    <!--<button id="command_{id}_ButtonD">Click notifications</button>-->
    <button id="command_{id}_ButtonE">Click notifications</button>
    <button id="command_{id}_ButtonF">Template example</button>
    <button id="command_{id}_ButtonG">Template array</button>
    <button id="command_{id}_ButtonH">Map edit</button>
  </div>
</template>

<template id="commandTemplate">
  <article id="command_DataArea">
    <div id="command_Output">
    </div>
    <textarea id="command_TextArea" style="width: 100%; height: 5em"></textarea>
  </article>
</template>
