<!-- Individual record. -->
<template id="example3_Template">
  <div id="record_{id}" class="example3" style="order: {order}">
    <div>
      <img src="images/debug/{sex}.png" alt="Photo" />
    </div>

    <div>
      <div>
        <h1>{first} {last}</h1>
        <p>{address}</p>
        <p>{city}, {state}</p>
        <p>{workPhone}</p>
      </div>
    </div>
  </div>
</template>

<!-- Wrapper for all records. -->
<template id="example3_EditTemplate">
  <div id="example3_Edit" class="example2_container">Loading...</div>
</template>
