<!-- Basic template for example 2. -->
<template id="example3_Template">
  <div>
    <div class="example3" style="width: 100%; height: 100%;">
      <div>
      <div id="record_{id}" style="order: {order}">
        <div>
          <img src="data:image/png;base64,{photo}" alt="Photo" />
        </div>

        <div>
          <div>
            <h1>{first} {last}</h1>
            <p>{address}</p>
            <p>{city}, {state}</p>
            <p>{workPhone}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<template id="example3_EditTemplate">
  <div id="example3_Edit" style="width: 100%; height: 100%;">Loading...</div>
</template>

<template id="example3_EditTemplateButtons">
  <button name="Reload" class="w2ui-btn">Reload</button>
  <button name="Close" class="w2ui-btn">Close</button>
</template>
